root                     = true

[*]
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = tab
tab_size                 = 8
# indent_size              = 8

[*.go]
max_line_length          = 80

[*.js]
max_line_length          = 80

[*.html]
tab_size                 = 4

[*.tmpl]
tab_size                 = 4


# Note: It is intentional here that JavaScript, HTML, and CSS are indented with
# tabs. I find the "standards" of indenting with two spaces to be confusing and
# unreadable, and I would prefer that things stay consistent with the rest of
# my code base.
