:root {
	--theme: #0062cc;
	--theme-contrast: #ffffff;
	--border: rgb(180, 180, 180);
	--greyedout: rgb(180, 180, 180);
	--boxbg: rgb(235, 235, 235);
	--boxfg: #000000;
	--rowbg-even: #ffffff;
	--rowbg-odd: #fcfcfc;
}

.greyedout {
	color: var(--greyedout) !important;
}

html {
	font-family: system-ui, sans-serif;
	line-height: 1.2;
	border-color: var(--theme);
	color: black;
	background-color: white;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

main {
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 1rem auto;
	max-width: 60rem;
	flex: 1;
}

hr {
	background-color: black;
	border-width: 0;
	height: 1px;
}

a {
	color: var(--theme);
	text-decoration: none;
}

h2, h3, h4, h5, h6 {
	margin-top: 1.2rem;
}

header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	color: white;
	background-color: var(--theme);
	z-index: 1000;
	width: 100%;
}

footer {
	padding-left: 1rem;
	padding-right: 1rem;
}

footer p {
	margin-top: 0rem;
	margin-bottom: 1ex;
}

.header-content {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 60rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

header img {
	vertical-align: middle;
	max-height: 40px;
}

header a {
	color: white;
}

header h1 {
	font-size: 25px;
}

#snotes {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding: 0.4em;
	border: 1px solid #ccc;
	border-radius: 0.4em;
	font-size: 90%;
}

table {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	border-collapse: collapse;
	border: 2px solid var(--border);
	font-size: 90%;
}

table.wide {
	width: 100%;
}

th[scope~="row"] {
	width: 6em;
	text-align: right;
}

th[scope~="col"] {
	/* text-align: left; */
}

td {
	border: 1px solid;
	text-align: left;
	height: 1.25rem;
	border: 1px solid var(--border);
	padding: 3px 5px;
}

table.fat td {
	padding: 6px 5px;
}

td.th-like, th {
	background-color: var(--boxbg) !important;
	border: 1px solid var(--border);
	font-weight: bold;
	padding: 3px 5px;
}

th.min, td.min {
	width: 0;
	min-width: fit-content;
	white-space: nowrap;
}

tr:nth-child(even) td {
  background-color: var(--rowbg-even);
}

tr:nth-child(odd) td {
  background-color: var(--rowbg-odd);
}

/*

form:not([class="plain"]) {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding: 0.4em;
	border: 1px solid #ccc;
	border-radius: 0.4em;
	font-size: 90%;
}

form:not([class="plain"]) ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form:not([class="plain"]) li + li {
	margin-top: 0.2em;
}

form:not([class="plain"]) label {
	display: inline-block;
	width: 6em;
	text-align: right;
	font-weight: bold;
}

form:not([class="plain"]) input:not([type="submit"]), textarea {
	font: 1em sans-serif;
	width: auto;
	max-width: 75%;
	box-sizing: border-box;
	border: 1px solid #999;
}

form:not([class="plain"]) input:focus, textarea:focus {
	border-color: var(--theme);
}

form:not([class="plain"]) textarea {
	vertical-align: top;
	height: 3em;
}

form:not([class="plain"]) button {
	margin-left: 0.5em;
}

*/

.btn-primary, input[type=submit] {
	background: var(--theme);
	color: var(--theme-contrast);
	border: var(--border) 1px solid;
	font-weight: bold;
}

.btn-default, input[type=file]::file-selector-button {
	background: var(--boxbg);
	border: var(--border) 1px solid !important;
	color: var(--boxfg);
}

.btn, input[type=submit], input[type=file]::file-selector-button {
	display: inline-block;
	/* width: 100%; */
	width: auto;
	min-width: fit-content;
	border-radius: 0;
	padding: .1rem .75rem;
	font-size: 0.9rem;
	transition: background .1s linear;
	border: none;
	cursor: pointer;
}

div.formgroup + div.formgroup {
	margin-top: 1rem;
}

textarea {
	box-sizing: border-box;
	background-color: var(--boxbg);
	resize: vertical;
}
textarea, input[type=text] {
	font-family: sans-serif;
	font-size: smaller;
	background-color: var(--boxbg);
	border: none;
	padding: 0.3rem;
	width: 100%;
	box-sizing: border-box;
}
td.tdinput {
	padding: 0rem !important;
}
td.tdinput textarea, td.tdinput input[type=text] {
	/* background-color: inherit !important; */
	background-color: transparent !important;
}

/* not sure how to make these lengths dynamic */

.multicols {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	@media(max-width: 40rem) {
		flex-wrap: wrap;
	}
	gap: 1rem;
	align-items: stretch;
}

.multicols div {
	min-width: 15em;
	max-width: 40rem;
	width: 100%;
	margin: auto;
}

.flex-justify {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	border: none;
}

pre {
	background-color: rgb(240, 240, 240);
	padding: 0.3rem;
	overflow-x: scroll;
}

.flags, .filename {
	font-family: monospace;
}

article.work-text {
	max-width: 40em;
	margin-right: auto;
	white-space: pre-wrap;
	margin-top: 1.5rem;
}
