<!DOCTYPE html>
{# This comment makes vim detect the filetype correctly #}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ fbfpc["site_title"] }}</title>
	<link rel="stylesheet" href="{{ url_for(".static", filename="style.css") }}" />
	<style>
	.tp-columns {
		display: flex;
		flex-direction: row;
		@media(max-width: 50rem) {
			flex-wrap: wrap;
		}
		gap: 2rem;
		align-items: stretch;
	}
	
	.tp-columns div {
		min-width: 18em;
		max-width: 40rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
</head>
<body>
<header>
	<div class="header-content">
		<div class="header-left">
			<h1><a href="/">{{ fbfpc["site_title"] }}</a></h1>
		</div>
		<div class="header-right">
			<p><a href="{{ url_for(".user", oid=user.oid) }}">{{ user.name }}</a></p>
		</div>
	</div>
</header>
<main class="tp-columns">
	<div id="yours">
		<h2>Your work</h2>
		<p>
		</p>
		<table class="wide">
			<tr>
				<th class="min" scope="col">ID</th>
				<th class="min" scope="col">Flags</th>
				<th scope="col">Title</th>
			</tr>
			{% for w in wyours %}
			<tr>
				<th scope="row" class="min">{{ w.wid }}</th>
				<td class="min flags">{%if w.public%}<abbr title="Public">P</abbr>{%else%}<abbr title="Private">x</abbr>{%endif%}{%if w.active%}<abbr title="Active">!</abbr>{%else%}<abbr title="Inactive">-</abbr>{%endif%}{%if w.anonymous%}<abbr title="Anonymous">*</abbr>{%else%}<abbr title="Non-anonymous"</abbr>@</abbr>{%endif%}</td>
				<td>{{ w.title }}</td>
			</tr>
			{% endfor %}
			<tr>
				<th colspan="3">
					<div class="flex-justify">
						<a class="btn-primary btn" href="{{ url_for(".new") }}">New</a>
					</div>
				</th>
			</tr>
		</table>
	</div>
	<div id="others">
		<h2>Other people's work</h2>
		<table class="wide">
			<tr>
				<th class="min" scope="col">ID</th>
				<th class="min" scope="col">Author</th>
				<th scope="col">Title</th>
			</tr>
			{% for w in wothers %}
			<tr>
				<th scope="row" class="min">{{ w.wid }}</th>
				{% if w.anonymous %}
				<td class="min" class="anonymous">Anonymous</td>
				{% else %}
				<td class="min"><a href="{{ url_for(".user", oid=w.user.oid) }}">{{ w.user.name }}</a></td>
				{% endif %}
				<td>{{ w.title }}</td>
			</tr>
			{% endfor %}
			<tr>
				<th colspan="3">
					<div class="flex-justify">
						<a class="btn-primary btn" href="{{ url_for(".list_") }}">List all</a>
					</div>
				</th>
			</tr>
		</table>
	</div>
</main>
</body>
</html>
