<!DOCTYPE html>
{# This comment makes vim detect the filetype correctly #}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% if work.anonymous %}
		<title>#{{ work.wid }} {{ work.title }} by anonymous &ndash; {{ fbfpc["site_title"] }}</title>
	{% else %}
		<title>#{{ work.wid }} {{ work.title }} by {{ work.user.name }} &ndash; {{ fbfpc["site_title"] }}</title>
	{% endif %}
	<link rel="stylesheet" href="{{ url_for(".static", filename="style.css") }}" />
</head>
<body>
<header>
	<div class="header-content">
		<div class="header-left">
			<h1><a href="/">{{ fbfpc["site_title"] }}</a></h1>
		</div>
		<div class="header-right">
			<p><a href="{{ url_for(".user", oid=user.oid) }}">{{ user.name }}</a></p>
		</div>
	</div>
</header>
<main>
	<h2>{{work.title}}</h2>
	<form method="POST">
		<table>
			<tr>
				<th colspan=2>Metadata</th>
			</tr>
			<tr>
				<th scope="row">ID</th>
				<td>{{ work.wid }}</td>
			</tr>
			{% if (not work.anonymous) or (work.user.oid == user.oid) %}
			<tr>
				<th scope="row">Author</th>
				<td><a href="{{ url_for(".user", oid=work.user.oid) }}">{{ work.user.name }}</a></td>
			</tr>
			{% endif %}
			<tr>
				<th scope="row">Flags</th>
				<td>
					<input id="flag-public" type="checkbox" name="public" {% if work.user.oid != user.oid %}disabled{% endif %} {% if work.public %}checked{% endif %}><label for="flag-public">Public</label>
					<input id="flag-active" type="checkbox" name="active" {% if work.user.oid != user.oid %}disabled{% endif %} {% if work.active %}checked{% endif %}><label for="flag-active">Active</label>
					<input id="flag-anonymous" type="checkbox" name="anonymous" {% if work.user.oid != user.oid %}disabled{% endif %} {% if work.anonymous %}checked{% endif %}><label for="flag-anonymous">Anonymous</label>
				</td>
			</tr>
			<tr>
				<th scope="row">File</th>
				{% if work.filename %}
				<td><a class="filename" href="{{url_for(".file", filename=work.filename)}}">{{ work.filename }}</a></td>
				{% else %}
				<td>None</td>
				{% endif %}
			</tr>
			{% if work.user.oid == user.oid %}
			<tr>
				<td class="th-like" colspan=2>
						<div class="flex-justify">
							<div class="left">
								<input type="submit" value="Update" />
							</div>
							<div class="right">
								<span class="greyedout">Max {{ fbfpc["max_request_size_human"] }}</span>
							</div>
						</div>
				</td>
			</tr>
			{% endif %}
		</table>
	</form>
	{% if not work.text %}
	<p>
	This work has no raw text. Check the file.
	</p>
	{% else %}
	<article class="work-text">{{ work.text }}</article>
	{% endif %}
</main>
</body>
</html>
